/**
 * Animations.
 */

.animated {
	animation-duration: 1.2s;
	animation-fill-mode: both;
}

.fadeIn {
	animation-name: fadeIn;
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}
  
	to {
		opacity: 1;
	}
}

.fadeInDown {
	animation-name: fadeInDown;
}

@keyframes fadeInDown {
	from {
		opacity: 0;
		transform: translate3d(0, -100px, 0);
	}
  
	to {
		opacity: 1;
		transform: translate3d(0, 0, 0);
	}
}

.fadeInUp {
	animation-name: fadeInUp;
}

@keyframes fadeInUp {
	from {
		opacity: 0;
		transform: translate3d(0, 100px, 0);
	}
  
	to {
		opacity: 1;
		transform: translate3d(0, 0, 0);
	}
}

.fadeInLeft {
	animation-name: fadeInLeft;
}

@keyframes fadeInLeft {
	from {
		opacity: 0;
		transform: translate3d(-100px, 0, 0);
	}
  
	to {
		opacity: 1;
		transform: translate3d(0, 0, 0);
	}
}

.fadeInRight {
	animation-name: fadeInRight;
}

@keyframes fadeInRight {
	from {
		opacity: 0;
		transform: translate3d(100px, 0, 0);
	}
  
	to {
		opacity: 1;
		transform: translate3d(0, 0, 0);
	}
}

#homepage-content {
    .social-icons {
        @for $i from 1 through 6 {
            a:nth-child(#{$i}) {
                animation-delay: $i * 0.2s;
            }
        }
    }
}

.header-content {
	@for $i from 2 through 4 {
		span:nth-child(#{$i}) {
			animation-delay: $i * 0.1s;
		}
	}
}

.flip-vertical {	
	transform: rotate(180deg);
}
