/*!
 * Single Page Responsive Site for Shopify
 * Author: David Matthew
 * Author URI: https://davidmatthew.ie
*/

*, ::after, ::before {
    box-sizing: border-box;
}

body, html {
    height: 100%;
}

body {
    margin: 0;   
}

body, h1, h2, h3, h4, h5, h6, p, ul, ol, li, a {
    font-family: 'Source Sans Pro', sans-serif;
}

h1, h2, h3, h4, h5, h6, p {
    color: #444;
    margin: 0;
}

h1 {
    font-size: 1.8em;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0.75em 0 0.5em 0;
}

p {
    font-size: 1.1em;
    line-height: 1.6em;
}

a {
    color: #36611a;
}

.container-link {
    text-decoration: none;
}

.text-gradient-black-red {
    background-image: linear-gradient(to right, #000000, #fb4141);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.text-gradient-black-green {
    background-image: linear-gradient(to right, #000000, #95bf47);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.text-red {
    color: #fb4141;
}

.text-green {
    color: #5e8e3e;
}

.content-area {
    padding-top: 85px;
    padding-bottom: 50px;
    min-height: 100%;
    z-index: 1;
}

.container {
    width: 100%;
    max-width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    margin-right: auto;
    margin-left: auto;
}

.bg-img-full {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#Quietflow {
    position: fixed !important;
    width: 100vw !important;
    max-width: 100vw !important;
    height: 100vh !important;
    max-height: 100vh !important;
}

.overlay {
    height: 100%;
    width: 100%;
}

.flex-row {
    display: flex;
    flex-flow: row wrap;
}

input,
textarea {
    display: block;
    font-size: 1em;
    line-height: 1.6em;
    border: 1px solid #ddd;
    max-width: 100%;
}

input[type=radio],
input[type=checkbox] {
    display: inline-block;
}

#homepage-content {
    p {
        font-size: 1em;
        line-height: 1.4em;
    }

    a {
        text-decoration: none;
    }

    .content-header {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        padding-top: 0.7em;
    
        h2 {
            margin: 0 0 0.15em 0;
            color: #333;
            text-transform: uppercase;
            font-weight: 900;
            font-size: 1.15em;
    
            i {
                margin-right: 0.25em;
            }
        }
    }

    .row {
        display: flex;
        flex-flow: row wrap;
    }

    .row:first-child {
        margin-top: 8vh;
        min-height: 78vh;
    }

    .row:last-child {
        margin-top: 5vh;
        margin-bottom: 10vh;
    }

    .col {
        flex-basis: 100%;
        max-width: 100%;
        margin-bottom: 5vh;

        #title {
            display: flex;
            flex-flow: row wrap;
            justify-content: center;

            .img-wrap {
                width: 80px;
                height: 75px;
                padding: 10px;
                margin-right: 10px;
                border-left: 5px solid #5e8e3e;
                background-color: rgba(255, 255, 255, 0.6);
                transition: background-color 0.2s;

                &:hover {
                    background-color: rgba(255, 255, 255, 0.9);
                }

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
            
            h1 {
                font-size: 2.25em;
                text-transform: uppercase;
                font-weight: 900;
                line-height: 0.9em;
                margin: 5px 0 0 0;
            }
        }

        #intro {
            text-align: center;
            padding: 0 10px;
            margin-top: 10px;
        }
    }
    
    #great-fit {
        width: 100%;

        #reasons-wrap {
            border-left: 5px solid #5e8e3e;
            background-color: rgba(255, 255, 255, 0.6);
            transition: background-color 0.2s;
            padding: 10px;

            &:hover {
                background-color: rgba(255, 255, 255, 0.9);
            }

            .reason-heading {
                cursor: pointer;
                width: 100%;
                margin-top: 0;
                padding: 12px 8px;
                font-size: 14px;
                text-transform: uppercase;
                background-color: rgba(0, 0, 0, 0.025);
                transition: background-color 0.1s;

                &:hover {
                    background-color: rgba(0, 0, 0, 0.05);;
                }

                .fas {
                    font-size: 14px;
                    margin-left: 5px;
                    transition: transform 0.3s;
                }
            }

            .reason:last-child {
                .reason-heading {
                    margin-bottom: 0;
                }
            }

            .reason-heading:last-child {
                margin-bottom: 0;
            }

            .reason-text {
                display: none;
                font-size: 14px;
                padding-left: 6px;
                margin-bottom: 1em;
            }
        }
        
        #shopify-icon {
            height: 19px;
            margin-bottom: -2px;
            margin-right: 0.25em;
        }

        .gif {
            display: block;
            margin-top: 10px;
            max-width: 100%;
        }
    }
}

#footer {
    display: flex;
    height: 70px;
    background-color: rgba(255, 255, 255, 0.8);
    border-top: 1px solid #ddd;

    p {
        margin: auto;
    }
}
