/**
 * Navbar styling.
 */

.nav {
    position: fixed;
    display: flex;
    top: 0;
    left: 0;
    width: 100%;
    max-width: 100vw;
    height: 70px;
    background-color: rgba(255, 255, 255, 0.8);
    border-bottom: 1px solid #ddd;
    z-index: 2;

    .navbar {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    .logo {
        height: 35px;

        img {
            height: 100%;
            transition: transform 0.5s;
        }
    }

    ul {
        list-style-type: none;

        .fa-angle-down {
            margin-left: 0.5em;
        }
    }

    .function {
        cursor: pointer;
    }

    a, .function {
        color: #666;
        text-decoration: none;
    }

    .navbar-title {
        text-transform: uppercase;
        font-weight: 600;
    }

    .menu, .sub-menu {
        display: flex;
    }

    .sub-menu {
        flex-direction: column;
    }
}

#navbar-toggle {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    width: 45px;
    height: 35px;
    transition: transform 0.5s;

    div {
        position: relative;
        height: 5px;
        background-image: linear-gradient(to right, #95bf47, #000000);
        width: 100%;
    }

    div:nth-child(1),
    div:nth-child(3) {
        transition: transform 0.5s;
    }

    div:nth-child(2) {
        width: 80%;
        transition: width 0.5s, opacity 0.5s;
    }
}

#menu-mobile {
    position: fixed;
    top: 70px;
    left: 100%;
    width: 90%;
    height: 100vh;
    padding: 20px 15px;
    border-left: 1px solid #ddd;
    background-color:rgba(255, 255, 255, 0.9);
    transition: left 0.5s;

    .menu {
        padding-inline-start: 0;
        margin-block-start: 0;

        li {
            padding: 10px;
        }

        a {
            display: block;
            width: 100%;
            font-size: 1.3em;
        }            
    }

    .menu {
        flex-direction: column;
    }

    .sub-menu {
        visibility: hidden;
        height: 0;
        opacity: 0;
        margin-top: 0;
        padding-inline-start: 0.5em;

        li {
            padding: 5px;
        }

        a, .function {
            font-size: 1.2em;
        }
    }

    .menu, .sub-menu {
        .fas, .far, .fab {
            min-width: 1.8em;
        }
    }

    .has-sub-menu.show + .sub-menu {
        visibility: visible;
        height: 100%;
        opacity: 1;
        margin-top: 0.5em;
    }
}

#menu-desktop {
    display: none;
    height: 100%;

    .menu {
        flex-direction: row;
        margin-block-end: 0;
        margin-right: -18px;

        .fas, .far, .fab {
            margin-right: 0.4em;
        }

        .fa-angle-down {
            margin-right: 0;
        }
    }

    .menu, .sub-menu {
        padding-inline-start: 0;
        margin-block-start: 0;
    }

    .sub-menu {
        display: none;
        position: absolute;
        padding: 10px 0;
        border: 1px solid #ddd;
        background-color: #fff;

        li {
            a, .function {
                padding: 18px;
            }
        }
    }

    .has-sub-menu:hover + .sub-menu,
    .sub-menu:hover {
        display: flex; 
    }

    li {
        a, .function {
            height: 100%;
            display: flex;
            align-items: center;
            font-size: 1.2em;
            padding: 0 18px;
            transition: background-color 0.2s, color 0.2s;

            &:hover {
                background-color: rgba(200, 200, 200, 0.2);
                color: #373737;
            }
        }
    }
}
