/**
 * Slider styling.
 */

.tns-nav {
    text-align: center;

    button {
        height: 16px;
        width: 16px;
        border-radius: 50%;
        border: none;
        margin: 10px 4px 0 4px;
        background-color: #aaa;

        &:focus {
            outline: none;
        }
    }

    .tns-nav-active {
        background-color: #fff;
    }
}

.post-preview {
    position: relative;
    height: 120px;
    border-left: 5px solid #5e8e3e;
    background-color: rgba(255, 255, 255, 0.6);
    transition: background-color 0.2s;

    &:hover {
        background-color: rgba(255, 255, 255, 0.9);

        .post-div {
            .slider-img-wrap {    
                img {
                    transform: scale(1.1);
                }
            }
        }
    }

    .post-div {
        position: absolute;

        h3 {
            font-size: 1em;
            font-weight: 700;
            color: #333;  
        }

        p {
            color: #666;
            padding-bottom: 0;
        }

        i {
            margin-right: 0.25em;
            color: #b3b3b3;
        }

        h3, p {
            margin: 0;
        }

        .post-date,
        .post-tags,
        .read-more-tablet,
        .read-more-desktop {
            display: none;
        }

        .post-date,
        .post-tags {
            color: #a0a0a0;
            font-style: italic;
        }

        .read-more-mobile {
            margin-top: 0.2em;
            font-size: 0.9em;
        }

        .slider-img-wrap {
            width: 90px;
            height: 90px;
            overflow: hidden;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                transition: all 0.2s;
            }
        }

        .fa-tags {
            font-size: 0.9em;
            transform: scaleX(-1);
        }
    }

    .post-div:nth-child(1) {
        top: 11px;
        left: 13px;
        width: 54%;
    }

    .post-div:nth-child(2) {
        top: 15px;
        right: 15px;
    }
}
